.list-group 
	{
	  padding-left: 0;
	  margin-bottom: 20px;
	}

.list-group-item 
{
  color:#353535;
  position: relative;
  display: block;
  padding: 10px 0;
  /*margin-bottom: -1px;*/
  background-color: #ffffff;
  border: 1px solid #f6f6f6;
  font-size:15px;
  font-weight:bold;
}

	.list-group-item:first-child {
	  border-top-right-radius: 4px;
	  border-top-left-radius: 4px;
	}

.list-group-item:last-child 
{
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.list-group-item > .badge 
{
	 float: right;
}

.list-group-item > .badge + .badge 
{
	 margin-right: 5px;
}

.list-option
 {
 	color:#353535;
 	font-size:13px;
 	/*background-color: #FFFFFF;*/
    /*border: 1px solid #DDDDDD;*/
    display: block;
    margin-bottom: -1px;
    padding: 8px 16px;
    position: relative;
    line-height:18px;
}

.list-ques
{
	background-color:#f7f7f7;
	font-size:13px;
	line-height:25px;
}

.list-ques .qmeta
{
	font-size:13px;
	padding-left:30px;
}

.list-ques .qmeta span
{
	/*padding-left:10px;*/
	padding-right: 10px;
}
.list-ques .qmeta .label
{
	margin-right:5px;
}

.list-hint
{
	/*font:14px/10px !important;*/
	background-color: #FFFFFF;
	color:#000 !important;
	line-height:30px;
    /*border: 1px solid #DDDDDD;*/
    display: block;
    margin-bottom: -1px;
    padding:10px -2px
    position: relative;
    display: inline;
    font-weight: normal;
}

.list-hint p
{
	background:#bcbcff;
	color: #000;
	margin: 0;
	padding-left: 40px;
}

.list-hint p:first-child
{
	padding-top: 20px;
}



.list-hidden
{
	display:none;
}
.correct
{
	color:#34B27D;
	font-weight: bold;
	
}
.wrong
{
	color:#ff0000;
	font-weight:bold;
	
}
#hd
{
	height:50px;

}
#hd>div
{
	height:50px;
	width:26%;
	padding-left:13px;
	padding-top:12px;
/*	float:left;*/
}
.spn-green
{
	display:block;
	height:20px;
	width:20px;
	background:#34B27D;
	float:left;
}
.spn-red
{
	display:block;
	height:20px;
	width:20px;
	background:#ff0000;
	float:right;
}
.correct
{
	color:#00A65A;
}
.wrong
{
	color:#ff0000;
}
.icn-mark{
	cursor: pointer;
}

#hd
{
	height:50px;

}
#hd>div
{
	height:50px;
	width:26%;
	padding-left:13px;
	padding-top:12px;
/*	float:left;*/
}
.spn-green
{
	display:block;
	height:20px;
	width:20px;
	background:#34B27D;
	float:left;
}
.spn-red
{
	display:block;
	height:20px;
	width:20px;
	background:#ff0000;
	float:right;
}

#status
{
	padding-top:10px;
	width:50px;
	height:70px;
	position: fixed;
	right:0;
	top:30%;
	color:#f6f6f6;
	box-shadow:1px 1px 1px #ccc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	opacity: 0.37;
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha'(Opacity=0.37);
	background-color: #000000;
}

#status-bottom
{
	padding-top:10px;
	width:50px;
	height:70px;
	position: fixed;
	left:0;
	bottom:0;
	color:#f6f6f6;
	box-shadow:1px 1px 1px #ccc;
	-webkit-border-top-right-radius: 5px;
	//-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	//-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	//border-bottom-left-radius: 5px;
	opacity: 0.70;
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha'(Opacity=0.60);
	background-color:#36404A;
}
#status p
{
	margin:0;
	margin-top:5px;
	padding-left:5px;

}

#summery
{
	background-color:#36404A;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
   box-shadow: 1px 1px 1px #ccc;
   color: #fff;
   height: auto;
   opacity: 0.8	;
   position: fixed;
   right: 0;
   top: 30%;
}

#summery > div {
    padding: 10px;
    width: 300px;
    overflow:auto;
}

#fold {
    padding-left: 5px;
    padding-top: 5px;
    color:#f6f6f6;
}

.list-passage
{
	font-weight:normal;
	font-style:italic;
	text-align:justify;
	border:1px solid #f7f7f7;
	/*box-shadow:2px 2px 2px #ccc;*/
}
.list-passage p
{
	width:auto;
}

.list-passage strong
{
	font-size:18px;
}

.icheckbox_square-yellow, .iradio_square-yellow
{
	background: url("yellow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   border: medium none;
   cursor: pointer;
   display: inline-block;
   height: 22px;
   margin: 0;
   padding: 0;
   vertical-align: middle;
   width: 22px;
}